<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="pt-br">
	
		<title>Auto Estudo NPI - Tarefas</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<!-- Inserindo o Bootstrap via CDN com link local para o webjars -->
		<link
			href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
			th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
			rel="stylesheet" media="screen" />
			
		<!-- Inserindo o JQuery via CDN com link local para o webjars -->
		<script
			src="http://cdn.jsdelivr.net/webjars/jquery/3.0.0-rc1/jquery.min.js"
			th:src="@{/webjars/jquery/3.0.0-rc1/jquery.min.js}">
			
		</script>
	
	</head>
	
	<body>
		<!-- Inserindo o cabecalho -->
		<div th:replace="fragmentos/header :: header"></div>
		
		<!-- Corpo da pagina -->
		<div class="container" style="padding-top: 50px">
			<div class="hero-unit">
				<h1>Auto Estudo NPI</h1>
				<p>Aqui você irá encontrar as dicas e tarefas para realizar este auto estudo.</p>
			</div>
			
			<!-- Inserindo o rodapé -->
			<div th:replace="fragmentos/footer :: footer"></div>
		</div>
	</body>
</html>